@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);

  --main-heading-stats: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
}
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* font-family: 'Lexend Deca', sans-serif; */
  margin: 0;
  padding: 0;
  font-size: 15px;
}
body {
  background-color: var(--main-background);
}
.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  border-radius: 10px;
  width: 80%;
  background-color: var(--card-background);
  display: grid;
  grid-template-columns: 55% 45%;
}
.card-img {
  border-radius: 0 10px 10px 0;
  background-color: var(--accent);
}
.card-img img {
  border-radius: 0 10px 10px 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.card-body {
  padding: 2em 1em;
  width: 80%;
  margin: 1em 2em;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1.5em;
}
.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--stat-headings);
  max-width: 36ch;
}
.stats-main {
  color: var(--main-heading-stats);
  font-size: 1.8rem;
  font-weight: bold;
}
.main-paragraph {
  color: var(--stat-headings);
  max-width: 40ch;
  font-family: "Lexend Deca", sans-serif;
}
.stats-desc {
  text-transform: uppercase;
  font-family: "Lexend Deca", sans-serif;
}
.main-heading {
  font-size: 1.8rem;
  color: var(--main-heading-stats);
  max-width: 17ch;
  font-weight: bold;
}
.main-heading span {
  font-size: inherit;
  color: var(--accent);
}
@media screen and (max-width: 768px) {
  .card,
  .card-img {
    height: 45vh;
  }
  .card-body {
    height: 45vh;
    width: 100%;
    padding: 2em 0.7em;
    margin: 0;
    gap: 2rem;
  }
  .main-paragraph,
  .stats-desc {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  .card,
  .card-img,
  .card-body {
    height: 25vh;
  }
  .main-heading,
  .stats-main {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .card {
    height: 80vh;
    grid-template-rows: 30% 70%;
    grid-template-columns: auto;
    grid-template-areas:
      "img"
      "bdy";
  }
  .card-img {
    grid-area: img;
    border-radius: 10px 10px 0 0;
  }
  .card-img img {
    border-radius: 10px 10px 0 0;
  }
  .card-body {
    grid-area: bdy;
  }
  .stats {
    flex-direction: column;
    gap: 10px;
  }
  .main-heading,.main-paragraph{
    text-align: center;
  }
}
